[Desktop Entry]
Version=0.4.0
Type=Application
Name=Kajongg
Name[uk]=Kajongg
Comment=The ancient Chinese board game for 4 players
Comment[uk]=Старовинна китайська гра на дошці з 4 гравцями
Encoding=UTF-8
GenericName=Mah Jongg
GenericName[uk]=Маджонґ
Terminal=false
TryExec=kajongg
Exec=kajongg
Icon=kajongg
Categories=Qt;KDE;Game;BoardGame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DocPath=kajongg/index.html
X-Ubuntu-Gettext-Domain=desktop_kdegames
