[Desktop Entry]
Version=0.2
Type=Application
Name=kmj
Name[sv]=Kmj
Name[tr]=Kmj
Comment=computes scores and payments among the 4 players
Comment[en_GB]=Computes scores and payments among the 4 players.
Comment[et]=tulemuste ja tasu arvutamine 4 mängija vahel
Comment[pt]=calcula as pontuações e pagamentos entre os 4 jogadores
Comment[pt_BR]=calcula as pontuações e pagamentos entre os 4 jogadores
Comment[sv]=Beräknar poäng och vinster för de fyra spelarna
Comment[uk]=Обчислює рахунок і сплати для 4 гравців
Encoding=UTF-8
GenericName=Mah Jongg
GenericName[sv]=Mah Jong
GenericName[uk]=Маджонґ
Terminal=false
TryExec=kmj
Exec=kmj
Icon=kmj
Categories=Qt;KDE;Game;BoardGame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DocPath=kmj/index.html
X-Ubuntu-Gettext-Domain=desktop_kdegames
