[Desktop Entry]
Version=0.4.0
Type=Application
Name=kmj
Name[de]=kmj
Name[en_GB]=kmj
Name[es]=kmj
Name[et]=kmj
Name[fr]=kmj
Name[it]=kmj
Name[km]=kmj
Name[pt]=kmj
Name[pt_BR]=kmj
Name[sv]=Kmj
Name[tr]=Kmj
Name[uk]=kmj
Name[x-test]=xxkmjxx
Comment=computes scores and payments among the 4 players
Comment[de]=Berechnet Zahlungen zwischen den 4 Spielern
Comment[el]=υπολογίζει τη βαθμολογία και τις ανταμοιβές μεταξύ των 4 παικτών
Comment[en_GB]=Computes scores and payments among the 4 players.
Comment[es]=Calcula las puntuaciones y los pagos entre los 4 jugadores
Comment[et]=tulemuste ja tasu arvutamine 4 mängija vahel
Comment[fr]=calcule les scores et les paiements entre les quatre joueurs
Comment[it]=calcola i punteggi e i pagamenti tra i quattro giocatori
Comment[km]=ពិនិត្យ​កុំព្យូទ័រ និង​ការ​ចំណាយ​ក្នុង​ចំណោម​អ្នក​លេង​ទាំង​បួន​នាក់
Comment[pt]=calcula as pontuações e pagamentos entre os 4 jogadores
Comment[sv]=Beräknar poäng och vinster för de fyra spelarna
Comment[uk]=Обчислює рахунок і сплати для 4 гравців
Comment[x-test]=xxcomputes scores and payments among the 4 playersxx
Encoding=UTF-8
GenericName=Mah Jongg
GenericName[de]=Mah Jongg
GenericName[el]=Mah Jongg
GenericName[en_GB]=Mah Jongg
GenericName[es]=Mah Jongg
GenericName[et]=Mah Jongg
GenericName[fr]=Mah Jongg
GenericName[it]=Mah Jongg
GenericName[km]=Mah Jongg
GenericName[pt]=Mah Jongg
GenericName[pt_BR]=Mah Jongg
GenericName[sv]=Mah Jong
GenericName[tr]=Mah Jongg
GenericName[uk]=Маджонґ
GenericName[x-test]=xxMah Jonggxx
Terminal=false
TryExec=kmj
Exec=kmj
Icon=kmj
Categories=Qt;KDE;Game;BoardGame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DocPath=kmj/index.html
X-Ubuntu-Gettext-Domain=desktop_kdegames
