<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kmj" version="0.1">
  <MenuBar>
    <Menu name="file" ><text>&amp;Game</text>
        <Action name="new"/>
        <Action name="load"/>
    </Menu>
    <Menu name ="play">
        <Text>&amp;Play</Text>
        <Action name="newhand"/>
        <Action name="scoreTable"/>
    </Menu>
    <Menu name="settings"  >
        <Action name="players"/>
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar" >
    <text>Toolbar</text>
        <Action name="file_quit"/>
        <Action name="players"/>
        <Action name="newhand"/>
        <Action name="scoreTable"/>
  </ToolBar>
</gui>
