include src/*.py
include src/*.rc
include *.svgz
include src/COPYING
include voices/female1/*
include voices/female2/*
include voices/male1/*
include voices/male2/*
include org.kde.kajongg.desktop
exclude src/*_ui.py
include doc/*.png
include doc/index.docbook
include locale/*/*.mo
