[Desktop Entry]
Version=0.1
Type=Application
Name=kmj
Comment=computes scores and payments among the 4 players
Encoding=UTF-8
GenericName=Mah Jongg
TryExec=kmj.py
Exec=kmj.py
Icon=kmj.svg
Categories=Qt;KDE;Games;BoardGame
