[Desktop Entry]
Version=0.1
Type=Application
Name=kmj
Comment=computes scores and payments among the 4 players
Comment[de]=berechnet Punkte und Zahlungen zwischen den 4 Spielern
Encoding=UTF-8
GenericName=Mah Jongg
GenericName[de]=Mah Jongg
TryExec=kmj.py
Exec=kmj.py
Icon=kmj.svg
Categories=Qt;KDE;Games;BoardGame
