[Desktop Entry]
Version=0.1
Type=Application
Name=kmj
Name[sv]=Kmj
Comment=Computes scores and payments among the 4 players.
Comment[sv]=Beräknar poäng och vinster för de fyra spelarna
Comment[uk]=Обчислює рахунок і сплати для 4 гравців
Encoding=UTF-8
GenericName=Mah Jongg
GenericName[sv]=Mah Jong
GenericName[uk]=Маджонґ
TryExec=kmj.py
Exec=kmj.py
Icon=kmj.svg
Categories=Qt;KDE;Games;BoardGame
